.Add {
   height: 30px;
   width: 50px;
   margin-left: 15px;
   border-radius: 10px;
   border: none;
   font-weight: bold;
}
.AddForm {
   margin-bottom: 10px;
   margin-top: 10px;
}
.EnterText {
   height: 25px;
   width: 150px;
   border-radius: 10px;
   border: 2px solid goldenrod;
   padding-left: 10px;
}
