.chooseProject {
   width: 50%;
   padding: 10px;
   display: inline-block;
   text-align: center;
}
.title {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
}
.chooseForm {
   margin: 0 auto;
   width: 50%;
   padding: 10px;
}