footer {
   background: #163357;
   padding: 20px;
}
.title {
   text-transform: uppercase;
   font-weight: bold;
}
#Contacts {
   margin: 0 auto;
   width: 20%;
   color: #fff;
   text-align: center;
}